@font-face{
  font-family: 'mplus-1m-regular';
  src: url(mplus-1m-regular.eot);
  src: url(mplus-1m-regular.eot) format('embedded-opentype'),
       url(mplus-1m-regular.woff) format('woff'),
       url(mplus-1m-regular.ttf) format('truetype');
}
