/**
 * remark preview css
 */

.remark-container {
  overflow: visible;
}
.remark-slide-container {
  --slide-ratio: 3/4;

  display: block;
  position: static;
  background-color: gray;
  height: calc(100vw * var(--slide-ratio) + 1px);
}
thead {
  display: table-row-group;
}
.remark-slide-scaler {
  position: static;
  top: 0 !important;
  left: 0 !important;
  transform-origin: left top;
  box-shadow: none;
}
